body{
  background-color:#f98;
  color:#333;
}
.footer-wrapper{
  background-color:#fff;
  color:#333;
  width:100%;
  height:200px;
  display:flex;
  position:relative;
  align-items:center;
}

.footer-text{
  background-color:#fff;
  color:#333;
  width:100%;
  text-align:center;
}
